@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

body {
    font-family: poppins;
}

* {
    margin: 0;
    padding: 0;
}

$CR_black : #000;

.say-it-video {
    padding: 40px 15px;

    .main_title {
        font-size: 50px;
        line-height: 1.2em;
        font-weight: 600;
        color: #2C2C2C;
        text-align: center;
        margin-bottom: 20px;
    }

    .main_desc {
        font-size: 18px;
        text-align: center;
        line-height: 1.8em;
        font-weight: 400;
        color: #4E4E4E;
        margin-bottom: 20px;
        font-size: 16px !important;
    }

    .posi-images-ab {
        position: absolute;
        top: 17%;
        left: 28%;
    }

    .tp-loom-btn {
        text-align: center;
        margin-top: 3%;

        .btn-record {
            padding: 15px 65px;
            font-size: 18px;
            text-align: center;
            line-height: 1.8em;
            background-color: #500BA9;
            border-radius: 5px;
            color: #fff;
            border: 1px solid #500BA9;
            margin-bottom: 20px;
            font-family: 'Poppins';
            cursor: pointer;
        }

        .btn-record:hover {
            background: #260452;
            color: #fff;
            border: 1px solid #260452;
            transition: all 0.2s linear;
        }
    }

    .star-rating-wrapper {
        text-align: center;

        .posimyth-logo-img {
            width: 200px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .rating-desc {
            font-size: 15px;
            text-align: center;
            line-height: 1.8em;
            font-weight: 400;
            color: #4E4E4E;
            font-style: italic;
        }

        .rating-author {
            color: #4E4E4E;
            font-size: 15px;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 40px;
            text-decoration: none;
        }

        .rating-title {
            font-size: 19px;
            color: #2C2C2C;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        
        .rl {
            text-decoration: none;
            color: $CR_black;
        }

        .tp-previous-btn{
            display: none;
            padding-bottom: 10px;

            &.btn-show{
                display: block;
            }
        }
    }

    .tp-loomtick {
        display: flex;
        justify-content: center;

        .tp-loom-main-list {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            color: #2C2C2C;
            margin-bottom: 5px;
            padding: 10px;
            font-size: 16px;
            font-weight: 500;
        }

        .loomtick-img {
            height: 30px;
            width: 30px;
            margin-right: 10px;
        }
    }
}

.how-does-sec {
    padding: 50px 15px 30px 15px;
    background: #1DD8A7;

    .how-main-title {
        font-size: 32px;
        line-height: 1.2em;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }

    .posi-bootom {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    .bottom-link {
        text-align: center;
        margin-bottom: 10px;

        .posi-timeline-text {
            font-size: 17px;
            font-weight: 400;
            color: $CR_black;
            letter-spacing: 0;
            text-decoration: none;
            margin-right: 10px;
            margin-left: 10px;

            &.line-draw {
                display: inline-block;
                position: relative;
                color: $CR_black
            }

            &.line-draw:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $CR_black;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &.line-draw:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
}

@media (max-width:500px) {
    .say-it-video {
        .posi-timeline-text {
            font-size: 16px;
        }

        .tp-loomtick .tp-loom-main-list {
            font-size: 15px !important;
        }

        .say-it-video .main_desc {
            font-size: 14px !important;
            line-height: 1.5em;
        }
    }
}

@media (max-width: 1300px) {
    .say-it-video {
        .posi-images-ab {
            display: none;
        }
    }
}

@media(max-width:768px) {
    .say-it-video {
        .posi-images-ab {
            position: absolute;
            left: 8% !important;
            top: 21%;
            width: 240px;
        }

        .main_desc {
            padding-left: 4% !important;
            padding-right: 4% !important;
        }

        .tp-loomtick {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
}

@media (max-width:1024px) {
    .say-it-video {
        .main_title {
            font-size: 35px;
        }

        .posi-images-ab {
            position: absolute;
            left: 8%;
            top: 14%
        }
    }

    .how-does-sec {
        .posi-bootom img {
            width: 90%;
        }
    }
}

@media (max-width:1440px) {
    .say-it-video {
        .posi-images-ab {
            left: 20%;
            top: 18%;
        }
    }

    .how-does-sec {
        .posi-bootom img {
            width: 90%;
        }
    }
}